/* Menores a 576px 
aplica a todo aquello que no sea 
reescrito en MediaQueries */


.transfersPrincipal {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Cambiado a 'center' */
    align-items: center;
    background: linear-gradient(98deg, rgba(255, 165, 0, 0.3) 5%, rgba(255, 165, 0, 0.3) 45%);
    
}

.transfersPrincipal .dataTransfers {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
    /* Cambiado a 50% */
    text-align: center;
    /* Añadido para centrar el texto */
}

.transfersPrincipal .dataTransfers .dataTransfersContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.transfersPrincipal .dataTransfers .dataTransfersContent h2 {
    font-family: 'Rowdies', sans-serif;
    color: #056734;
    font-size: 40px;
    margin-bottom: 40px; /* Ajusta el valor según la separación deseada */
}

.transfersPrincipal .dataTransfers .dataTransfersContent h4 {
    font-size: 20px;    
    margin-bottom: 10px; /* Ajusta el valor según la separación deseada */
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}

.transfersPrincipal .dataTransfers .dataTransfersContent h6 {
    font-size: 16px;
    margin-bottom: 10px; /* Ajusta el valor según la separación deseada */
    font-family: 'neueMontrealRegular', 'Courier New', Courier, monospace;
}

.transfersPrincipal .imgTransfers {
    width: 100%;
    /* Cambiado a 50% */
    text-align: center;
    /* Añadido para centrar la imagen */
}


.transfersPrincipal .imgTransfers img {
    max-width: 100%;
    /* Ajustado para que la imagen sea responsive */
}

.contenedorTraslados {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    
}

.contenedorTraslados h2 {
    text-align: center;
    padding: 10px;
    font-family: 'Rowdies', sans-serif;
    font-size: 30px;
    color: #056734
}

.contenidoTraslados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contenedorTraslados .contenidoTraslados .itemTraslados {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 20vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contenedorTraslados .contenidoTraslados .itemTraslados:hover {
    transform: translate(-10px); /* Equivalente a translateX(10px) */
    transition: .3s;
}

.contenedorTraslados .contenidoTraslados .itemTraslados h3 {
    font-family: 'blennyTrial', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    padding: 5px;
    color: #F5F5DC;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}


.contenedorTraslados .contenidoTraslados .itemClasicos {
    background: linear-gradient(98deg, rgba(255, 165, 0, 0.3) 5%, rgba(255, 165, 0, 0.3) 45%), url('../img/transfers/imgTransfersClassic.svg');
    background-size: cover;
    background-position: center;
        }
    
.contenedorTraslados .contenidoTraslados .itemNegocios {
    background: linear-gradient(98deg, rgba(255, 165, 0, 0.3) 5%, rgba(255, 165, 0, 0.3) 45%), url('../img/transfers/imgTransfersBussiness.svg');
    background-size: cover;
    background-position: center;
}

.contenedorTraslados .contenidoTraslados .itemGrupos {
    background: linear-gradient(98deg, rgba(255, 165, 0, 0.3) 5%, rgba(255, 165, 0, 0.3) 45%), url('../img/transfers/imgTransfersGrupos.svg');
    background-size: cover;
    background-position: center;
}

.modalTraslados {
    font-family: 'neueMontrealRegular', 'Courier New', Courier, monospace;
    list-style: none;
    }

.contenedorCompromiso {
    width: 86%;
    margin: 0 auto;
    border: 2px solid #056734;
    border-radius: 5px;
    margin-bottom: 30px;
}

.contenedorCompromiso .contenidoCompromiso h2 {
    text-align: center;
    padding: 10px;
    font-family: 'Didot', sans-serif;
    font-size: 30px;
    color: #056734;
    font-weight: 800;
}

.contenedorCompromiso .contenidoCompromiso div {
    width: 90%;
    margin: 0 auto;
}
.contenedorCompromiso .contenidoCompromiso div p {
    font-family: 'neueMontrealRegular', 'Courier New', Courier, monospace;
    font-size: 15px;

}

/* Entre 576px y 767px */
/* Bootstrap breakpoints SM y superiores */
@media (min-width: 576px) {}

/* Entre 768px y 991px */
/* Bootstrap breakpoints MD y superiores */
@media (min-width: 768px) {

    .transfersPrincipal .dataTransfers .dataTransfersContent h2 {
        font-size: 45px;
        
    }
}

/* Entre 992px y 1199px */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {
    /* Tus estilos para dispositivos large y superiores van aquí */

    .transfersPrincipal {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* Cambiado a 'center' */
        align-items: center;
    }

    .transfersPrincipal .dataTransfers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 40%;
        /* Cambiado a 50% */
        text-align: center;
        /* Añadido para centrar el texto */
    }
    
    .transfersPrincipal .dataTransfers .dataTransfersContent {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 50%;
    }
    
    .transfersPrincipal .dataTransfers .dataTransfersContent h2 {
        font-family: 'Rowdies', sans-serif;
        color: #056734;
        text-align: left;
        font-size: 45px;
        margin-bottom: 40px; /* Ajusta el valor según la separación deseada */
    }
    
    .transfersPrincipal .dataTransfers .dataTransfersContent h4 {
        text-align: left;
        margin-bottom: 10px; /* Ajusta el valor según la separación deseada */
        
    }
    
    .transfersPrincipal .dataTransfers .dataTransfersContent h6 {
        text-align: left;
        margin-bottom: 10px; /* Ajusta el valor según la separación deseada */
        
    }
        
    .transfersPrincipal .imgTransfers {
        width: 60%;
        /* Cambiado a 50% */
        text-align: center; 
        /* Añadido para centrar la imagen */
    }
    
    .transfersPrincipal .imgTransfers img {
        max-width: 100%;
        /* Ajustado para que la imagen sea responsive */
    }

    .contenedorTraslados {
        padding-top: 30px;
        width: 90%;
        padding-bottom: 30px;
    }
    .contenedorTraslados .contenidoTraslados {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    .contenedorTraslados h2 {
        font-size: 50px;
    }
    
    
    .contenedorTraslados .contenidoTraslados .itemTraslados h3 {
        font-size: 40px;
    }
    
    .contenedorTraslados .contenidoTraslados .itemTraslados {
        width: 30%;
        height: 25vh;
    }

    .contenedorCompromiso {
        width: 40%;
    }
    

}

/* Desde 1200px en adelante */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 1200px) {
    /* Tus estilos para dispositivos extra large y superiores van aquí */
    .transfersPrincipal .dataTransfers .dataTransfersContent h2 {
        font-size: 55px;
    }
}