/*
Paleta de colores
Principal:#056734 rgb (
Claro: #F5F5DC rgb(245, 245, 220) crudo
Fondo:#ccccd2
PRODUCTOS: FFB000 rgb(255, 176, 0) Amarillo
            C64756 rgb(198, 71, 86) Rojo
            FAD586 rgb(250, 213, 134) Amarillo
            F86F03 rgb(248, 111, 3) Naranja
            525FE1 rgb(82, 95, 225) Azul
            DF2E38 rgb(223, 46, 56) rojo
            5D9C59 rgb(93, 156, 89) Verde
            FD8D14 rgb(253, 141, 20) Naranja
            C51605 rgb(197, 22, 5) Rojo
            79155B rgb(121, 21, 91) Violeta
            C23373 rgb(194, 51, 115) Morado
            F6635C rgb(246, 99, 92) Anaranjado
*/

/* Menores a 576px 
aplica a todo aquello que no sea 
reescrito en MediaQueries */

body {
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    background-color: #F5F5DC;
}

/* ESTILOS TOPBAR */
.topBar {
    color: #056734;
    font-family: 'neueMontrealRegular', sans-serif;
    font-size: 16px;
}

.topBar a {
    color: #056734;
}

.topBar a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.bg-light {
    background-color: #F5F5DC !important;
}

.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-sm-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-weight: normal;
}

/* MAIN CAROUSEL SLIDE 1 */
.principal .mainCarousel .slide1 {
    background-image: url('../img/mainCarousel/plavaVistaAerea.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal .mainCarousel .slide1 img {
    width: 50%;
}

.principal .mainCarousel h1 {
    font-size: 20px;
    width: 80%;
    padding: 5px;
    color: #F5F5DC;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    font-family: 'neueMontralRegular', sans-serif;
    margin-top: 20px;
}

.principal .mainCarousel button {
    margin-top: 50px;
}

/* MAIN CAROUSEL SLIDE 2 */
.principal .mainCarousel .slide2 {
    background-image: url('../img/mainCarousel/avistadoresAves.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal .mainCarousel .slide2 img {
    width: 50%;
}

/* MAIN CAROUSEL SLIDE 3 */
.principal .mainCarousel .slide3 {
    background-image: url('../img/mainCarousel/kitesurf.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal .mainCarousel .slide3 img {
    width: 50%;
}

/* EXPERIENCIAS CLÁSICAS */
.contenedorExperiencias {
    padding: 30px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.contenedorExperiencias h2 {
    text-align: center;
    padding: 20px;
    font-family: 'Rowdies', sans-serif;
    font-size: 35px;
    color: #056734
}

.contenedorClassic {
    display: none;
}

.contenedorClassicAccordion {
    background-image: linear-gradient(98deg, rgba(248, 111, 3, 0.5215336134453781) 0%, rgba(248, 111, 3, 1) 41%), url('../img/expClassic/mundoMarino.jpg');
    background-size: center;
    padding: 30px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.contenedorClassicAccordion h3 {
    font-family: 'blennyTrial', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    padding: 5px;
    color: #F5F5DC;
    text-align: center;
}

.contenedorClassicAccordion h2 button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    color: #056734;
    background-color: #F5F5DC;
}


.contenedorClassicAccordion .accordionItemClassic {
    background-color: #F5F5DC;
}

.contenedorUnicas {
    display: none;
}

.contenedorUnicAccordion {
    background-image: linear-gradient(98deg, rgba(194, 51, 115, 0.5215336134453781) 0%, rgba(194, 51, 115, 1) 41%), url('../img/expUnicas/faro.jpg');
    background-size: center;
    padding: 30px;
    width: 100%;
}

.contenedorUnicAccordion h3 {
    font-family: 'blennyTrial', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    padding: 5px;
    color: #F5F5DC;
    text-align: center;
}

.contenedorUnicAccordion h2 button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    color: #056734;
    background-color: #F5F5DC;
}


.contenedorUnicAccordion .accordionItemUnic {
    background-color: #F5F5DC;
}

.contenedorEpicAccordion {
    background-image: linear-gradient(98deg, rgba(93, 156, 89, 0.5215336134453781) 0%, rgba(93, 156, 89, 1) 41%), url('../img/expEpic/kayak.jpg');
    background-size: contain;
    background-position: left;
    background-repeat: repeat;
    padding: 30px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contenedorEpicAccordion h3 {
    font-family: 'blennyTrial', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    padding: 5px;
    color: #F5F5DC;
    text-align: center;
}

.contenedorEpicAccordion h2 button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    color: #056734;
    background-color: #F5F5DC;
}


.contenedorEpicAccordion .accordionItemEpic {
    background-color: #F5F5DC;
}

.contenedorEpicas {
    display: none;
}

#servicios {
    padding: 30px;
}

#servicios h2 {
    text-align: center;
    padding: 20px;
    font-family: 'Rowdies', sans-serif;
    font-size: 35px;
    color: #056734
}

.contenedorServicios {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.subContenedorService {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.itemService {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    color: #F5F5DC;
    background-color: #056734;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: auto;

    transition: transform 0.3s ease, filter 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemService:hover {
    transition: .3s;
    transform: translateY(5px);
    filter: grayscale(70%);
}



.itemService h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
}

.itemService i {
    font-size: 30px;
}


.carouselDestinos {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

}

.contenedorImgCarousel .carousel-item {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

.contenedorImgCarousel .carousel-item img {
    max-height: 100%;
    /* Para asegurarte de que la imagen no exceda el alto del contenedor */
}

#destinos {
    padding: 30px;
}

#destinos h2 {
    text-align: center;
    padding: 20px;
    font-family: 'Rowdies', sans-serif;
    font-size: 35px;
    color: #056734
}

#destinos h3 {
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

/*BOTÓN WHATSAPP*/
.whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    opacity: 0.8;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp:hover {
    opacity: 1;
    background-color: #075E54;
    color: white;
    transition: .3s;
}

.whatsapp i {
    margin-top: 10px;
    color: white;
}

/*BOTÓN VOLVER ARRIBA*/
.btn-volver-arriba {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 99999;
    margin-left: -60px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-volver-arriba a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
}

.btn-volver-arriba a i {
    font-size: 1rem;
    color: white;
    line-height: 40px;
}

.RRSSMenuMobile a i {
    font-size: 25px;
}

.RRSSMenuMobile a i:hover {
    color: #056734;
    transform: scale(1.2);
    transition: 0.2s;
}



.footerEpico {
    background-color: #056734;
}

.footerEpico .contenedorFooter {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    /*Decoración contenido*/
    color: #F5F5DC;
}

.footerEpico .contenedorImgFooter {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.footerEpico .contenedorImgFooter img {
    padding-top: 30px;
}

.footerEpico h3 {
    padding-top: 10px;
    color: #F5F5DC;
    text-align: center;
    font-size: 20px;
}

.footerEpico hr {
    width: 75%;
    color: #F5F5DC;
    margin-left: auto;
    margin-right: auto;
}

.footerEpico button {
    margin-top: 20px;
}

.footerNosotros {
    text-align: center;
    font-family: 'neueMontrealRegular', sans-serif;
    font-size: 16px;
    border: solid;
    border-radius: 10px;
    border-width: .5px;
    padding: 20px;
    width: 75%;
}

.footerNosotros p a {
    text-decoration: none;
    color: #F5F5DC;
}

.footerNosotros .nosotros a:hover {
    font-weight: 800;
    transition: .4s;
}


.contenedorFooter .footerContacto {
    padding-top: 30px;
    text-align: center;
    font-size: 16px;
}

.contenedorFooter .footerContacto p a {
    text-decoration: none;
    color: #F5F5DC;
}

.contenedorFooter .footerContacto p {
    margin-top: -15px;
}

.contenedorFooter2 {
    color: #F5F5DC;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.contenedorFooter2 small a {
    text-decoration: none;
    color: #F5F5DC;
}

.contenedorFooter2 small i:hover {
    color: #e40434;
    transform: rotate(360deg);
    transition: 1s;
}

.contenedorFooter2 small a:hover {
    color: #e40434;
    font-weight: 700;
}



/* Entre 576px y 767px */
/* Bootstrap breakpoints SM y superiores */
@media (min-width: 576px) {
    .principal .mainCarousel h1 {
        font-size: 30px;
    }
}

/* Entre 768px y 991px */
/* Bootstrap breakpoints MD y superiores */
@media (min-width: 768px) {}

/* Entre 992px y 1199px */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {
    /* Tus estilos para dispositivos large y superiores van aquí */

    .principal .mainCarousel .slide1 {
        background-image: url('../img/mainCarousel/plavaVistaAerea.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
        justify-content: space-around;
        align-items: center;
    }

    /* MAIN CAROUSEL SLIDE 1 */
    .principal .mainCarousel .slide1 {
        background-image: url('../img/mainCarousel/plavaVistaAerea.jpg');
        background-position: center;
        background-size: cover;
        height: 70vh;
        justify-content: space-around;
        align-items: center;
    }

    .principal .mainCarousel .slide1 img {
        width: 30%;
    }

    .principal .mainCarousel h1 {
        font-size: 30px;
        color: #F5F5DC;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        text-align: center;
        font-family: 'neueMontralRegular', sans-serif;
        margin-top: -40px;
    }

    .principal .mainCarousel button {
        margin-top: 100px;
    }

    /* MAIN CAROUSEL SLIDE 2 */
    .principal .mainCarousel .slide2 {
        background-image: url('../img/mainCarousel/avistadoresAves.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
        justify-content: space-around;
        align-items: center;
    }

    .principal .mainCarousel .slide2 img {
        width: 30%;
    }

    /* MAIN CAROUSEL SLIDE 3 */
    .principal .mainCarousel .slide3 {
        background-image: url('../img/mainCarousel/kitesurf.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
        justify-content: space-around;
        align-items: center;
    }

    .principal .mainCarousel .slide3 img {
        width: 30%;
    }

    .contenedorExperiencias h2 {
        font-size: 40px;
    }

    .contenedorClassic {
        /*Decoración contenedor*/
        background-image: linear-gradient(98deg, rgba(248, 111, 3, 0.5215336134453781) 0%, rgba(248, 111, 3, 1) 41%), url('../img/expClassic/mundoMarino.jpg');
        background-size: center;
        padding: 30px;
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        /*Organización contenido*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .expClassicTitle {
        width: 18%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }

    .expClassicTitle h3 {
        font-family: 'blennyTrial', sans-serif;
        letter-spacing: 1px;
        font-size: 30px;
        padding: 5px;
        color: #F5F5DC;
    }

    .expClassic {
        width: 18%;
        height: 300px;
        border-radius: 20px;

        /* ORGANIZACIÓN DEL CONTENIDO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expClassic h4 {
        color: #F5F5DC;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px;
    }

    .expClassic1 {
        background-image: url('../img/expClassic/costaAcuatica.jpeg');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expClassic1:hover {
        background-position: right;

    }

    .expClassic2 {
        background-image: url('../img/expClassic/cabalgatas.jpg');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expClassic2:hover {
        background-position: right;

    }

    .expClassic3 {
        background-image: url('../img/expClassic/clinicaSurf.JPG');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expClassic3:hover {
        background-position: right;

    }

    .expClassic4 {
        background-image: url('../img/expClassic/pescaEmbarcada.jpg');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expClassic4:hover {
        background-position: right;

    }

    /* CUERPO MODAL EXPERIENCIAS CLÁSICAS */

    .modalCompleto {
        background-image: linear-gradient(98deg, rgba(248, 111, 3, 0.5215336134453781) 0%, rgba(248, 111, 3, 1) 91%), url('../img/expClassic/mundoMarino.jpg');
        background-size: center;
        background-size: cover;
        transition: background-position 6s;
        border: none;
    }

    .modalCompleto .modal-header h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #F5F5DC;
    }

    .modalBodyExpClassic1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        color: #F5F5DC;
    }

    .modalBodyExpClassic1 p:hover {
        font-weight: 800;
        transition: 0.2s;
    }

    /* EXPERIENCIAS ÚNICAS */
    .contenedorUnicas {
        /*Decoración contenedor*/
        background-image: linear-gradient(98deg, rgba(194, 51, 115, 0.5215336134453781) 0%, rgba(194, 51, 115, 1) 41%), url('../img/expUnicas/faro.jpg');
        background-size: center;
        padding: 30px;
        width: 100%;


        /*Organización contenido*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .expUnicTitle {
        width: 18%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }

    .expUnicTitle h3 {
        font-family: 'blennyTrial', sans-serif;
        letter-spacing: 1px;
        font-size: 30px;
        padding: 5px;
        color: #F5F5DC;
    }

    .expUnic h4 {
        color: #F5F5DC;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px
    }

    .expUnic {
        width: 18%;
        height: 300px;
        border-radius: 20px;

        /* ORGANIZACIÓN DEL CONTENIDO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expUnic1 {
        background-image: url('../img/expUnicas/faro.jpg');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expUnic1:hover {
        background-position: right;

    }

    .expUnic2 {
        background-image: url('../img/expUnicas/madariaga.jpg');
        background-position: left;
        background-size: cover;
        transition: background-position 6s;
    }


    .expUnic2:hover {
        background-position: right;
    }

    .expUnic3 {
        background-image: url('../img/expUnicas/avistajeAves.jpg');
        background-position: left;
        background-size: cover;
        transition: background-position 6s;
    }


    .expUnic3:hover {
        background-position: right;
    }

    .expUnic4 {
        background-image: url('../img/expUnicas/bahiaSamboronbom.JPG');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
        font-weight: 500;
    }


    .expUnic4:hover {
        background-position: right;
    }


    .contenedorEpicas {

        background-image: linear-gradient(98deg, rgba(93, 156, 89, 0.5215336134453781) 0%, rgba(93, 156, 89, 1) 41%), url('../img/expEpic/kayak.jpg');
        background-size: contain;
        background-position: left;
        background-repeat: repeat;
        padding: 30px;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        /*Organización contenido*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .expEpicTitle {
        width: 18%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }

    .expEpicTitle h3 {
        font-family: 'blennyTrial', sans-serif;
        letter-spacing: 1px;
        font-size: 30px;
        padding: 5px;
        color: #F5F5DC;
        ;
    }

    .expEpic {
        width: 18%;
        height: 300px;
        border-radius: 20px;

        /* ORGANIZACIÓN DEL CONTENIDO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expEpic h4 {
        color: #F5F5DC;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px
    }

    .expEpic1 {
        background-image: url('../img/expEpic/surf.JPG');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expEpic1:hover {
        background-position: right;
    }

    .expEpic2 {
        background-image: url('../img/expEpic/kayak2.JPG');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expEpic2:hover {
        background-position: right;
    }

    .expEpic3 {
        background-image: url('../img/expEpic/sandboard.jpg');
        background-position: right;
        background-size: cover;
        transition: background-position 6s;
    }

    .expEpic3:hover {
        background-position: center;
    }

    .expEpic4 {
        background-image: url('../img/expEpic/playaAtardecer.jpg');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expEpic4:hover {
        background-position: right;
    }

    .contenedorClassicAccordion {
        display: none;
    }

    .contenedorUnicAccordion {
        display: none;
    }

    .contenedorEpicAccordion {
        display: none;
    }

    #servicios h2 {
        font-size: 50px;
    }

    .contenedorServicios {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .subContenedorService {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .itemService {
        width: 18%;
        height: 18vh;
        border-radius: 20px;
        color: #F5F5DC;
        background-color: #056734;
        padding: 10px;

        transition: transform 0.3s ease, filter 0.3s ease;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .itemService:hover {
        transition: .3s;
        transform: translateY(5px);
        filter: grayscale(70%);
    }



    .itemService h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 16px;
    }

    .itemService i {
        font-size: 30px;
    }


    #destinos h2 {
        font-size: 50px;
    }

    #destinos h3 {
        font-size: 50px;
    }

    .contenedorClientes {
        width: 95%;
        padding: 30px;
    }

    .contenedorClientes h2 {
        text-align: center;
        padding: 20px;
        font-family: 'Rowdies', sans-serif;
        font-size: 50px;
        color: #056734;
    }

    .nuestrosClientes {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .nuestrosClientes .card {
        background-color: #F5F5DC;

    }

    .nuestrosClientes .card .quote {
        font-size: 80px;
        color: #056734;
    }

    .footerEpico .contenedorImgFooter {
        margin-left: auto;
        margin-right: auto;
        width: 13%;
    }

    .footerEpico hr {
        display: none;
    }

    .footerEpico .contenedorFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        /*Decoración contenido*/
        color: #F5F5DC;
    }

    .footerEpico .footerNosotros {
        border: none;
        width: 50%;
    }

    .footerEpico .contenedorFooter .footerNosotros {
        text-align: left;
    }

    .footerEpico .contenedorFooter .footerContacto {
        text-align: left;

    }

}

/* Desde 1200px en adelante */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 1200px) {
    /* Tus estilos para dispositivos extra large y superiores van aquí */

    /* MAIN CAROUSEL SLIDE 1 */
    .principal .mainCarousel .slide1 {
        background-image: url('../img/mainCarousel/plavaVistaAerea.jpg');
        background-position: center;
        background-size: cover;
        height: 80vh;
        justify-content: space-around;
        align-items: center;
    }

    .principal .mainCarousel .slide1 img {
        width: 30%;
    }

    .principal .mainCarousel h1 {
        font-size: 40px;
        color: #F5F5DC;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        text-align: center;
        font-family: 'neueMontralRegular', sans-serif;
    }

    .principal .mainCarousel button {
        margin-top: 100px;
    }

    /* MAIN CAROUSEL SLIDE 2 */
    .principal .mainCarousel .slide2 {
        background-image: url('../img/mainCarousel/avistadoresAves.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
        justify-content: space-around;
        align-items: center;
    }

    .principal .mainCarousel .slide2 img {
        width: 30%;
    }

    /* MAIN CAROUSEL SLIDE 3 */
    .principal .mainCarousel .slide3 {
        background-image: url('../img/mainCarousel/kitesurf.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
        justify-content: space-around;
        align-items: center;
    }

    .principal .mainCarousel .slide3 img {
        width: 30%;
    }

    #experiencias h2 {
        font-size: 50px;
    }

    .contenedorClassic {
        /*Decoración contenedor*/
        background-image: linear-gradient(98deg, rgba(248, 111, 3, 0.5215336134453781) 0%, rgba(248, 111, 3, 1) 41%), url('../img/expClassic/mundoMarino.jpg');
        background-size: center;
        padding: 30px;
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        /*Organización contenido*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .expClassicTitle {
        width: 20%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .expClassicTitle h3 {
        font-family: 'blennyTrial', sans-serif;
        letter-spacing: 2px;
        font-size: 40px;
        color: #F5F5DC;
    }

    .expClassic {
        margin: 20px;
        width: 15%;
        height: 300px;
        border-radius: 20px;

        /* ORGANIZACIÓN DEL CONTENIDO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expClassic h4 {
        color: #F5F5DC;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        text-align: center;
    }

    .expClassic1 {
        background-image: url('../img/expClassic/costaAcuatica.jpeg');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expClassic1:hover {
        background-position: right;

    }

    .expClassic2 {
        background-image: url('../img/expClassic/cabalgatas.jpg');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expClassic2:hover {
        background-position: right;

    }

    .expClassic3 {
        background-image: url('../img/expClassic/clinicaSurf.JPG');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expClassic3:hover {
        background-position: right;

    }

    .expClassic4 {
        background-image: url('../img/expClassic/pescaEmbarcada.jpg');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expClassic4:hover {
        background-position: right;

    }

    /* CUERPO MODAL EXPERIENCIAS CLÁSICAS */

    .modalCompleto {
        background-image: linear-gradient(98deg, rgba(248, 111, 3, 0.5215336134453781) 0%, rgba(248, 111, 3, 1) 91%), url('../img/expClassic/mundoMarino.jpg');
        background-size: center;
        background-size: cover;
        transition: background-position 6s;
        border: none;
    }

    .modalCompleto .modal-header h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #F5F5DC;
    }

    .modalBodyExpClassic1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        color: #F5F5DC;
    }

    .modalBodyExpClassic1 p:hover {
        font-weight: 800;
        transition: 0.2s;
    }

    /* EXPERIENCIAS ÚNICAS */
    .contenedorUnicas {
        /*Decoración contenedor*/
        background-image: linear-gradient(98deg, rgba(194, 51, 115, 0.5215336134453781) 0%, rgba(194, 51, 115, 1) 41%), url('../img/expUnicas/faro.jpg');
        background-size: center;
        padding: 30px;
        width: 100%;


        /*Organización contenido*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .expUnicTitle {
        width: 20%;
        height: 300px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expUnicTitle h3 {
        font-family: 'blennyTrial', sans-serif;
        letter-spacing: 2px;
        font-size: 40px;
        color: #F5F5DC;
    }

    .expUnic h4 {
        color: #F5F5DC;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        text-align: center;
    }

    .expUnic {
        margin: 20px;
        width: 15%;
        height: 300px;
        border-radius: 20px;

        /* ORGANIZACIÓN DEL CONTENIDO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expUnic1 {
        background-image: url('../img/expUnicas/faro.jpg');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expUnic1:hover {
        background-position: right;

    }

    .expUnic2 {
        background-image: url('../img/expUnicas/madariaga.jpg');
        background-position: left;
        background-size: cover;
        transition: background-position 6s;
    }


    .expUnic2:hover {
        background-position: right;
    }

    .expUnic3 {
        background-image: url('../img/expUnicas/avistajeAves.jpg');
        background-position: left;
        background-size: cover;
        transition: background-position 6s;
    }


    .expUnic3:hover {
        background-position: right;
    }

    .expUnic4 {
        background-image: url('../img/expUnicas/bahiaSamboronbom.JPG');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
        font-weight: 500;
    }


    .expUnic4:hover {
        background-position: right;
    }

    .contenedorEpicas {

        background-image: linear-gradient(98deg, rgba(93, 156, 89, 0.5215336134453781) 0%, rgba(93, 156, 89, 1) 41%), url('../img/expEpic/kayak.jpg');
        background-size: contain;
        background-position: left;
        background-repeat: repeat;
        padding: 30px;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        /*Organización contenido*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .expEpicTitle {
        width: 20%;
        height: 300px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expEpicTitle h3 {
        font-family: 'blennyTrial', sans-serif;
        letter-spacing: 2px;
        font-size: 40px;
        color: #F5F5DC;
    }

    .expEpic {
        margin: 20px;
        width: 15%;
        height: 300px;
        border-radius: 20px;

        /* ORGANIZACIÓN DEL CONTENIDO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expEpic h4 {
        color: #F5F5DC;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        text-align: center;
    }

    .expEpic1 {
        background-image: url('../img/expEpic/surf.JPG');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expEpic1:hover {
        background-position: right;
    }

    .expEpic2 {
        background-image: url('../img/expEpic/kayak2.JPG');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expEpic2:hover {
        background-position: right;
    }

    .expEpic3 {
        background-image: url('../img/expEpic/sandboard.jpg');
        background-position: right;
        background-size: cover;
        transition: background-position 6s;
    }

    .expEpic3:hover {
        background-position: center;
    }

    .expEpic4 {
        background-image: url('../img/expEpic/playaAtardecer.jpg');
        background-position: center;
        background-size: cover;
        transition: background-position 6s;
    }

    .expEpic4:hover {
        background-position: right;
    }

    #servicios {
        padding: 30px;
    }

    #servicios h2 {
        text-align: center;
        padding: 20px;
        font-family: 'Rowdies', sans-serif;
        font-size: 50px;
        color: #056734
    }

    .contenedorServicios {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .subContenedorService {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .itemService {
        width: 17%;
        height: 400px;
        border: 2px solid black;
        border-radius: 20px;
        color: #F5F5DC;
        transition: transform 0.3s ease, filter 0.3s ease;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .itemService:hover {
        transition: .3s;
        transform: translateY(5px);
        filter: grayscale(70%);
    }

    .itemService h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 20px;
    }

    .itemService i {
        display: none;
    }



    .itemService1 {
        background-image: url(../img/servicios/corporativo.png);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }

    .itemService2 {
        background-image: url(../img/servicios/gastronomia.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }

    .itemService3 {
        background-image: url(../img/servicios/hoteleria.jpg);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }

    .itemService4 {
        background-image: url(../img/servicios/transfers.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }

    .itemService5 {
        background-image: url(../img/servicios/personalizado.jpg);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }


}

@media (min-width: 1400px) {

    .principal .mainCarousel h1 {
        font-size: 50px;
    }

}