/* Menores a 576px 
aplica a todo aquello que no sea 
reescrito en MediaQueries */
body {
    color: #323232;
}

.alojamientosPrincipal {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Cambiado a 'center' */
    align-items: center;
    background: linear-gradient(98deg, rgba(255, 165, 0, 0.3) 5%, rgba(255, 165, 0, 0.3) 45%);

}

.alojamientosPrincipal .dataAlojamientos {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
    /* Cambiado a 50% */
    text-align: center;
    /* Añadido para centrar el texto */
}

.alojamientosPrincipal .dataAlojamientos .dataAlojamientosContent {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.alojamientosPrincipal .dataAlojamientos .dataAlojamientosContent h2 {
    font-family: 'Rowdies', sans-serif;
    color: #056734;
    font-size: 40px;
    margin-bottom: 40px;
    /* Ajusta el valor según la separación deseada */
}

.alojamientosPrincipal .dataAlojamientos .dataAlojamientosContent h4 {
    font-size: 20px;
    margin-bottom: 10px;
    /* Ajusta el valor según la separación deseada */
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}

.alojamientosPrincipal .dataAlojamientos .dataAlojamientosContent h6 {
    font-size: 16px;
    margin-bottom: 10px;
    /* Ajusta el valor según la separación deseada */
    font-family: 'neueMontrealRegular', 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}

.alojamientosPrincipal .imgAlojamientos {
    width: 100%;
    /* Cambiado a 50% */
    text-align: center;
    /* Añadido para centrar la imagen */
}


.alojamientosPrincipal .imgAlojamientos img {
    max-width: 100%;
    /* Ajustado para que la imagen sea responsive */
}

.galeriaPrincipalAlojamientos {
    background-color: #ffff;
    padding: 20px 0;
}

.galeriaPrincipalAlojamientos .contenedorAlojamientos h2 {
    font-family: 'Rowdies', sans-serif;
    color: #056734;
    text-align: center;
}

.galeriaPrincipalAlojamientos .contenedorAlojamientos {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorFilter {
    width: 90%;
    align-self: center;
    margin-bottom: 10px;
}

.galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorGaleria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorGaleria .itemAlojamiento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 30vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorGaleria .itemAlojamiento h6 {
    display: inline-block;
    align-self: end;
    background-color: #056734;
    color: #F5F5DC;
    padding: 5px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    border-top-right-radius: 5px;
}


.galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorGaleria .itemAlojamiento h5 {
    /* background-color: rgba(245, 245, 220, 0.5); */
    background-color: #056734;
    color: #F5F5DC;
    width: 100%;
    margin-bottom: 0;
    font-weight: 500;
    padding: 5px;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ALOJAMIENTOS */

.contenedorGaleria .almarenaHotel {
    background-image: url('../img/alojamiento/almarenaHotel.png');
    background-position: center;
    background-size: cover;
    transition: background-position 2s;
}

.contenedorGaleria .altairHotel {
    background-image: url('../img/alojamiento/altairHotel.jpg');
    background-position: center;
    background-size: 110%;
    transition: background-position 2s;
}

.contenedorGaleria .chiavariHotel {
    background-image: url('../img/alojamiento/chiavariHotel.jpg');
    background-position: center;
    background-size: cover;
    transition: background-position 2s;
}

.contenedorGaleria .eoParkHotel {
    background-image: url('../img/alojamiento/eoParkHotel.jpg');
    background-position: left;
    background-size: 110%;
    transition: background-position 2s;
}

.contenedorGaleria .fontainbleauHotel {
    background-image: url('../img/alojamiento/hotelFontainbleau.jpg');
    background-position: center;
    background-size: cover;
    transition: background-position 2s;
}

.contenedorGaleria .paucamHotel {
    background-image: url('../img/alojamiento/paucamHotel.jpg');
    background-position: bottom;
    background-size: cover;
    transition: background-position 2s;
}

.contenedorGaleria .savoiaHotelSC {
    background-image: url('../img/alojamiento/savoiahotelSC.jpg');
    background-position: center;
    background-size: 110%;
    transition: background-position 2s;
}

.contenedorGaleria .veronaHotel {
    background-image: url('../img/alojamiento/veronaHotel.jpg');
    background-position: center;
    background-size: cover;
    transition: background-position 2s;
}

.contenedorGaleria .almarenaHotel:hover , 
.contenedorGaleria .altairHotel:hover , 
.contenedorGaleria .chiavariHotel:hover , 
.contenedorGaleria .eoParkHotel:hover , 
.contenedorGaleria .fontainbleauHotel:hover , 
.contenedorGaleria .paucamHotel:hover , 
.contenedorGaleria .savoiaHotelSC:hover,
.contenedorGaleria .veronaHotel:hover{
    background-position:right;
}


.texto-modal-service ul h5 {
    margin-left: -1rem;
} 

/* Entre 576px y 767px */
/* Bootstrap breakpoints SM y superiores */
@media (min-width: 576px) {
    .galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorFilter {
        width: 80%;
        align-self: center;
    }

    .galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorGaleria .itemAlojamiento {
        width: 40%;
    }
}

/* Entre 768px y 991px */
/* Bootstrap breakpoints MD y superiores */
@media (min-width: 768px) {

    .galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorFilter {
        width: 30%;
        align-self: flex-end;
    }

    .galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorGaleria .itemAlojamiento {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
    }

    .galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorGaleria .itemAlojamiento h6 {
        font-size: 18px;
    }


    .galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorGaleria .itemAlojamiento h5 {
        font-size: 18px;
    }


}

/* Entre 992px y 1199px */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {

    .alojamientosPrincipal {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* Cambiado a 'center' */
        align-items: center;
    }

    .alojamientosPrincipal .dataAlojamientos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 40%;
        /* Cambiado a 50% */
        text-align: center;
        /* Añadido para centrar el texto */
    }

    .alojamientosPrincipal .dataAlojamientos .dataAlojamientosContent {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 50%;
    }

    .alojamientosPrincipal .dataAlojamientos .dataAlojamientosContent h2 {
        font-family: 'Rowdies', sans-serif;
        color: #056734;
        text-align: left;
        font-size: 45px;
        margin-bottom: 40px;
        /* Ajusta el valor según la separación deseada */
    }

    .alojamientosPrincipal .dataAlojamientos .dataAlojamientosContent h4 {
        text-align: left;
        margin-bottom: 10px;
        /* Ajusta el valor según la separación deseada */

    }

    .alojamientosPrincipal .dataAlojamientos .dataAlojamientosContent h6 {
        text-align: left;
        margin-bottom: 10px;
        /* Ajusta el valor según la separación deseada */

    }

    .alojamientosPrincipal .imgAlojamientos {
        width: 60%;
        /* Cambiado a 50% */
        text-align: center;
        /* Añadido para centrar la imagen */
    }

    .alojamientosPrincipal .imgAlojamientos img {
        max-width: 100%;
        /* Ajustado para que la imagen sea responsive */
    }

    /* Tus estilos para dispositivos large y superiores van aquí */
    .galeriaPrincipalAlojamientos .contenedorAlojamientos h2 {

        font-size: 45px;
    }

    .contenedorGaleria div {
        padding-bottom: 0;
    }

    .galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorFilter {
        width: 30%;
        align-self: flex-end;
    }

    .galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorGaleria .itemAlojamiento {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Desde 1200px en adelante */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 1200px) {

    /* Tus estilos para dispositivos extra large y superiores van aquí */
    .galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorFilter {
        width: 22%;
        align-self: flex-end;
    }

    .galeriaPrincipalAlojamientos .contenedorAlojamientos .contenedorGaleria .itemAlojamiento {
        width: 22%;
        margin-left: 0;
        margin-right: 0;
    }
}